@font-face {
  font-family: "Victorah Gaerioa";
  src: url("../fonts/Victorah\ Gaerioa.woff2") format("woff2");
}

/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;

  font-family: "Comfortaa", sans-serif;
  background-color: #0e0e0e;
  color: #ffffff;
}

.flower_one {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.edible_image {
  width: 100%;
}

/* BURGER IDK */

.burger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1; /* permet de faire passer le lien devant le menu */
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background: #ccc;
}

.menu {
  opacity: 0; /* par défaut, le menu a une opacité de 0 */
  pointer-events: none; /* par défaut, le menu ne peut pas être cliqué */
  transition: opacity 0.3s; /* on ajoute une transition pour que l'ouverture se fasse de façon fluide */
}

.menu.is-active {
  opacity: 1; /* avec la classe is-active, le menu a une opacité de 1 */
  pointer-events: auto; /* avec la classe is-active, le menu peut être cliqué */
}

.menu {
  transform: translateX(
    100%
  ); /* par défaut, on décale le menu de 100% vers la droite */
  transition: transform 0.3s; /* on ajoute une transition pour que l'ouverture se fasse de façon fluide */
}

.menu.is-active {
  transform: translateX(
    0
  ); /* lorsqu'il est ouvert, le menu retrouve sa place originale */
}

.burger {
  width: 30px;
  height: 19px;
}

.burger div {
  position: absolute; /* on utilise une position absolute pour pouvoir ensuite animer facilement chaque barre */
  width: 100%;
  height: 3px;
  background: #000;
}

/* on utilise les sélecteurs nth-child pour éviter d'ajouter trop de classes dans le HTML */
.burger div:nth-child(1) {
  top: 0;
}

.burger div:nth-child(2) {
  top: 8px;
}

.burger div:nth-child(3) {
  top: 16px;
}

.burger div {
  transition: transform 0.3s, opacity 0.3s; /* on ajoute une transition pour que le changement se fasse de manière fluide */
}

.burger.is-active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.is-active div:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

.burger.is-active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* BURGER IDK */

h1,
h2,
h4 {
  font-family: "Victorah Gaerioa";
}

h1 {
  font-size: 110px;
  text-align: center;
  padding-top: 80px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 50px;
  text-align: center;
}

p {
  margin-bottom: 30px;
}

.savoirplus {
  text-decoration: underline;
  color: #dcbe3f;
}

a {
  color: inherit;
}

button.mbtn {
  padding: 0.6em 2em;
  border-radius: 20px;
  color: #fff;
  font-size: 1.1em;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  margin: 1em;
  font-family: "Comfortaa", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  margin-bottom: 30px;
}

/* .row + .row,
.container + .container {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */

header {
  background-image: url(../img/header_essenciel.png);
  background-size: 100% 100%;
  height: 400px;
}
